/* .home {
  max-width: 1400px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home__img {
  position: absolute;
  bottom: 15px;
  left: 10px;
} */
