.pokedex {
  max-width: 1400px;
  margin: 20px auto;
}

.pokedex__title {
  /* height: 100px; */
  /* display: flex;
  align-items: center; */
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin: 0;
  margin-left: 0;
}

.pokedex__title-name {
  color: #fe1936;
}

@media screen and (max-width: 864px) {
  .pokedex__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 470px) {
  .pokedex__title {
    font-size: 13px;
  }
  .pokedex__input {
    font-size: 14px;
  }
  .pokedex__button {
    font-size: 13px;
    padding: 8px 16px;
  }
  .pokedex__select {
    font-size: 14px;
  }
  .pokedex__form {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .pokedex__title {
    font-size: 13px;
  }
  .pokedex__input {
    font-size: 14px;
  }
  .pokedex__button {
    font-size: 13px;
    padding: 8px 16px;
  }
  .pokedex__select {
    font-size: 14px;
  }
  .pokedex__form {
    flex-direction: column;
    text-align: center;
  }
}

.pokedex__form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 432px) {
  .pokedex__form {
    flex-direction: column;
    text-align: center;
  }
  .pokedex__input {
    margin-bottom: 10px;
  }
  .pokedex__title {
    font-size: 15px;
  }
}

.pokedex__input {
  display: inline-block;
  border: none;
  outline: none;
  padding: 10px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  font-size: 16px;
  color: #555;
}

.pokedex__input::placeholder {
  color: #999;
}

.pokedex__input:focus {
  border: 2px solid #d93f3f;
  box-shadow: 0 0 5px #d93f3f;
  border: none;
}

.pokedex__button {
  display: inline-block;
  background-color: #d93f3f;
  border: none;
  transition: background 200ms ease;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
}
.pokedex__button:hover {
  color: black;
  background-color: #ff5e5e;
  transition: background-color 0.3s ease;
}

.pokedex__select {
  display: inline-block;
  border: none;
  outline: none;
  padding: 10px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  font-size: 16px;
  color: #555;
}

.pokedex__Card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* .back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #d93f3f;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  transition: all 1.9ms ease;
}

.back-to-top:hover {
  background-color: #ff5e5e;
  transform: translateY(-5px);
} */
