/*Pagination*/
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.pagination__list {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  max-width: 250px;
  justify-content: center;
  align-items: center;
}

.pagination__first-page,
.pagination__last-page,
.pagination__page,
.pagination__prev,
.pagination__next {
  max-width: 50px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  transition: background 200ms ease;
  padding: 1px 2px;
}

.pagination__first-page:hover,
.pagination__last-page:hover,
.pagination__page:hover,
.pagination__prev:hover,
.pagination__next:hover {
  background-color: #f55c5ca8;
  transition: background-color 0.3s ease;
}

.pagination__first-page,
.pagination__last-page {
  background-color: #ff4c4c;
  color: white;
  border-radius: 5px;
}

.pagination__page,
.pagination__prev,
.pagination__next {
  color: #000;
}

.pagination__page.pagination__active,
.pagination__prev.pagination__active,
.pagination__next.pagination__active {
  background-color: #ff4c4c;
  color: white;
  border-radius: 5px;
}
