/*Pagination*/
.pagination {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagination__container {
  display: flex;
  gap: 5px;
}

.pagination__first-page,
.pagination__last-page {
  width: 35px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #ff4c4c;
  color: white;
  border-radius: 5px;
  font-size: 24px;
}

.pagination__page,
.pagination__prev,
.pagination__next {
  width: 35px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

.pagination__active {
  background-color: #ff4c4c;
  color: white;
  border-radius: 5px;
}
