.header__red {
  height: 100px;
  background-color: #d01a1a;
  position: relative;
}

.header__img {
  width: min(400px, cal(100% -20px));
  position: absolute;
  bottom: 20px;
  left: 10px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__img img {
  max-height: 100%;
}

.header__black {
  height: 50px;
  background-color: #0c0c0c;
  position: relative;
}
.header__pokeball {
  position: absolute;
  right: 40px;
  top: -20px;
  background-color: rgba(255, 255, 255, 1);
  border: 10px solid #0c0c0c;
  width: 90px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.header__pokeball::after {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  background-color: rgba(33, 33, 33, 1);
  border: 10px solid #0c0c0c;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 25px;
  cursor: pointer;
  transition: background 200ms ease;
}

.header__btn:hover {
  color: #d01a1a;
}
